input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        natural-scroll
    }
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { off; }
    border {
        width 2
        urgent-color "#B14D4D"
        active-color "#7F8B9B"
        inactive-color "#2B3036"
    }
    shadow {
        on
        offset x=0 y=6
        softness 24
        spread 2
        draw-behind-window false
        color "#00000066"
    }
    default-column-width { proportion 0.500000; }
    center-focused-column "never"
}
cursor {
    xcursor-theme "default"
    xcursor-size 24
}
binds {
    Mod+B hotkey-overlay-title="Open Browser: brave" { spawn "brave"; }
    Mod+C hotkey-overlay-title="Close Window" { close-window; }
    Mod+E hotkey-overlay-title="Open Files" { spawn "nautilus"; }
    Mod+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    Mod+I hotkey-overlay-title="Open IDE: zeditor" { spawn "zeditor"; }
    Mod+Print hotkey-overlay-title="Screenshot Area Copy" { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }
    Mod+Q hotkey-overlay-title="Open Terminal: ghostty" { spawn "ghostty"; }
    Mod+R hotkey-overlay-title="Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen Window" { fullscreen-window; }
    Mod+Shift+Print hotkey-overlay-title="Screenshot Area Edit" { spawn "sh" "-c" "grim -g \"$(slurp)\" - | swappy -f -"; }
}
spawn-at-startup "noctalia"
window-rule {
    geometry-corner-radius 12.000000 12.000000 12.000000 12.000000
    clip-to-geometry true
}
window-rule {
    match app-id="steam"
    open-floating true
}
window-rule {
    match app-id="steam" title="^Steam$"
    open-floating false
}
window-rule {
    match app-id="steam" title="^Steam Overlay$"
    open-floating false
}
